# Binaries and build artifacts
/bin/
/dist/
*.dylib
*.so
*.a
*.o

# Test coverage artifacts
*.out
/coverage/

# Environment and secrets
.env
.env.*
!.env.template
!.env.example
secrets/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Temporary / Scratch
/tmp/
/scratch/
